@import "primeicons/primeicons.css";

:root {
    --app-bg: #ffffff;
    --card-surface: #d1d5db;
    --text-primary: #343d4c;
    --action-primary: #134ecd;
    --state-accent: #a1683a;
}

body {
    margin: 0;
    background: var(--app-bg);
    color: var(--text-primary);
    font-family: Arial, sans-serif;
}